# build output
dist/

# generated types
.astro/

# Dependency directories
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env
.env.*
!.env.example

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Vite logs files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
