---
import Header from './Header.astro';
import Footer from './Footer.astro';

---

<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>СУДЭКСПЕРТ - Оценочные услуги</title>
		<meta name="description" content="СУДЭКСПЕРТ - профессиональные оценочные и экспертные услуги в Тольятти" />
		<script type="module" src="/src/main.ts" defer></script>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>